* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.top {
    background: linear-gradient(180deg, #09111f -41.9%, #08101d 260.24%);
    backdrop-filter: blur(100px);
    padding-bottom: 99px;
}


.center {
    padding-left: calc(50% - 573px);
    padding-right: calc(50% - 573px);


}

.nav {
    display: flex;
    justify-content: center;
}

.nav__link {
    color: #FFF;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding: 39px 16px;
}

.nav__link:hover {
    color: #3A6888;
}

.header {
    margin-bottom: 160px;
}

.flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.flex__vertical {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.img__block {
    display: block;
}

.main__left {
    width: 604px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.main__left .subtitle {
    color: var(--3-a-68-b-8, #3A68B8);
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.main__left .title {
    color: var(--ffffff, #FFF);
    font-family: Open Sans;
    font-size: 55px;
    font-style: normal;
    font-weight: 800;
    line-height: 130%;
    margin-bottom: 40px;
}

.main__left .info {
    color: var(--ffffff, #FFF);
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    opacity: 0.7;
    margin-bottom: 50px;
    width: 92%;
}

.main__buttons {
    gap: 20px;
}

.main__link {
    border-radius: 5px;
    background: var(--3-a-68-b-8, #3A68B8);
    color: var(--ffffff, #FFF);
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding: 1rem 2rem;
    /* margin-right: 20px; */
}

.icon {
    margin-right: 10px;
}

.main .content {
    gap: 128px;
    margin-bottom: 197px;
}

.logo {
    gap: 70px;
}

.submain {
    background-color: #020A18;
    padding-top: 157px;
    padding-bottom: 221px;
}

.top__content {
    gap: 68px;
}

.top__content .title {
    color: var(--ffffff, #FFF);
    font-family: Open Sans;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
    margin-bottom: 30px;
}

.top__content .info {
    color: var(--ffffff, #FFF);
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    opacity: 0.7;
    margin-bottom: 50px;
    width: 90%;

}

.submain .submain__right {
    /* width: 43%; */
    width: 484px;

}

.top__content {
    margin-bottom: 264px;
}

.middle__content {
    background-color: #020A18;
}

.grid {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    row-gap: 30px;
    column-gap: 30px;
    justify-content: center;
}

.cells {
    background-color: #132035;
    border-radius: 10px;
    padding: 30px;
    text-align: center;
}

.cell__pic {
    padding-bottom: 30px;
}

.cell__big {
    grid-column: span 2;
    grid-row: span 2;
}

.cell__title {
    color: var(--ffffff, #FFF);
    text-align: center;
    font-family: Open Sans;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 125%;
    opacity: 0.7;
    padding-bottom: 30px;
}

.cell__big .cell__title {
    padding-bottom: 60px;
}

.cell__big .cell__pic {
    padding-bottom: 60px;
}

.cell__info {
    color: var(--ffffff, #FFF);
    text-align: center;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    opacity: 0.7;
}

.middle__content {
    margin-bottom: 243px;
}

.bottom__left {
    width: 548px;
}

.bottom__content {
    gap: 25px;
}

.bottom__content .title {
    color: var(--ffffff, #FFF);
    font-family: Open Sans;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
    margin-bottom: 30px;
}

.bottom__content .info {
    color: var(--ffffff, #FFF);
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    opacity: 0.7;
    width: 80%;
    margin: 10px 0;
}

.footer {
    background-color: #08101d;
    padding-top: 48px;
    padding-bottom: 46px;
}

.footer .content {
    gap: 30px;
    justify-content: space-between;
}

.footer__left, .footer__center, .footer__right {
    width: 31%;
}

.footer .title {
    color: var(--ffffff, #FFF);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 9px;
}

.footer .info {
    color: var(--ffffff, #FFF);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 24px;
}

.footer .text {
    color: var(--ffffff, #FFF);
    font-family: Roboto;
    font-size: 14px;
    font-style: italic;
    font-weight: 100;
    line-height: normal;
    opacity: 0.6;
    width: 80%;
    margin-top: 24px;
}

.footer .icon {
    margin-right: 25px;
}

@media (min-width: 1024px) and (max-width: 1145px) {
    .cells {
        padding: 10px;
    }

    .grid {
        row-gap: 15px;
        column-gap: 15px;
    }

    .logo {
        gap: 0px;
        justify-content: space-between;
    }

    .content, .top__content, .bottom__content {
        flex-wrap: nowrap;
    }

    .img__block {
        max-width: 100%;
    }

    .main__left, .submain__right, .bottom__left {
        flex-shrink: 0;
    }

}

@media (min-width: 768px) and (max-width: 1023px) {
    .center {
        padding-left: calc(50% - 376px);
        padding-right: calc(50% - 376px);
        margin: auto;
    }

    .main__left .title {
        font-size: 48px;
    }

    .main__left .subtitle {
        font-size: 16px;
    }

    .logo {
        max-width: 550px;
        margin: auto;
        gap: 32px;
    }

    .top {
        padding-bottom: 120px;
    }

    .grid {
        grid-template-columns: repeat(1, 362px);
    }

    .cell__big {
        grid-column: span 1;
        grid-row: span 1;
    }

    .cell__big .cell__title {
        padding-bottom: 30px;
    }

    .cell__big .cell__pic {
        padding-bottom: 30px;
        width: 98px;
    }

    .bottom__content {
        gap: 64px;
    }

    .footer__left, .footer__center, .footer__right {
        min-width: 47%;
    }
}

@media (max-width: 767px) {
    .center {
        padding-left: calc(50% - 171px);
        padding-right: calc(50% - 171px);
        margin: auto;
        min-width: 362px;
    }

    .main__left {
        align-items: center;
    }

    .main__buttons {
        gap: 24px;
    }

    .nav__link {
        font-size: 14px;
        padding: 22.5px 8px;
    }

    .header {
        margin-bottom: 64px;
    }

    .main__left .title {
        font-size: 28px;
        text-align: center;
    }

    .main__left .subtitle {
        font-size: 14px;
    }

    .main__left .info {
        text-align: center;
        width: 100%;
    }

    .logo {
        max-width: 356px;
        margin: auto;
        gap: 32px;
    }

    .main .content {
        margin-bottom: 128px;
    }

    .submain {
        padding-top: 96px;
        padding-bottom: 96px;
    }

    .top__content {
        text-align: center;
    }

    .img__block {
        max-width: 343px;
    }

    .submain__right {
        align-items: center;

    }

    .submain__right .title {
        font-size: 24px;
    }

    .submain .submain__right {
        width: 343px;
    }

    .submain__right .info {
        width: 100%;
    }

    .top__content {
        margin-bottom: 96px;
    }

    .grid {
        grid-template-columns: repeat(1, 362px);
    }

    .cell__big {
        grid-column: span 1;
        grid-row: span 1;
    }

    .cell__big .cell__title {
        padding-bottom: 30px;
    }

    .cell__big .cell__pic {
        padding-bottom: 30px;
        width: 98px;
    }

    .middle__content {
        margin-bottom: 96px;
    }

    .bottom__content {
        text-align: center;
    }

    .bottom__content .info {
        width: 100%;
    }

    .bottom__content .title {
        font-size: 24px;
    }

    .footer__left, .footer__center, .footer__right {
        min-width: 100%;
    }

    .footer__center {
        order: -1;
    }

    .footer .title {
        text-align: center;
    }

}